
.text-center{
align-self: center;
}



h1{
    background-color: #4ab4cb;
    text-align: center;
    font-size: 100px;
    padding: 30px;
}
.panel{
    width:100%;
    height: 900px;
    background-image:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
   
}
h2{
    background-color: #4fa527;
    background-size: cover;
    text-align: center;
    font-size: 50px;
     
}
.form-group{
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
}
input{
    size: 30px;
}
.B1
{   
    display:inline-block;
    color: azure;
    border: 2px solid red;
    padding:12px 30px;
    font-size: 30px;
    background-color: #4fa527;
    border-radius: 10px;
    tab-size: 40px;
}

@media only screen and (min-width:820px){
    .form-group{
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    input{
       
        padding: 8px;
        font-size: 25px;
    }
}
@media only screen and (min-width:1000px){
    panel{
        width: 100%;
    }
    
}