h1{
    background-color: rgb(99, 184, 184);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  
  form{
    text-align: center;
    font-size: 20px;
  }
  
  label {
    width: 400px;
  }

  
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    position: relative;
    top: 40px; left: 275px;
  }
  
  .button1 {
    background-color: blue;
  } 
  
  .button2 {
    background-color: green;
  }
  